* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Arial', sans-serif;
    }
    body {
      background: #d9f5bb;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      padding: 20px;
    }
    .container {
      display: flex;
      width: 800px;
      max-width: 90%;
      box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
      border-radius: 10px;
      overflow: hidden;
    }
    .left {
      background: #d9f5bb;
      color: #1a3102;
      padding: 40px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .left h1 {
      font-size: 32px;
      margin-bottom: 10px;
    }
    .left h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .left p {
      margin-bottom: 25px;
      font-size: 14px;
    }

    .left a {
      color: #1a3102;
      text-decoration: none;
      font-size: 14px;
      margin-bottom: 20px;
    }
  

    .left span:hover {
      text-decoration: underline;
    }

    .left a span {
      font-weight: bold;
      color: #1c3106;
    }

    .right {
      background: #eaffd4;
      padding: 40px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .right p{
        color: #555;
        text-align: center;
    }

    .right a {
        text-decoration: none;
    }

    .right h2 {
      margin-bottom: 30px;
      color: #333;
      text-align: center;
    }
    .form-group {
      margin-bottom: 20px;
    }
    .form-group label {
      display: block;
      margin-bottom: 5px;
      color: #555;
    }
    .form-group input {
      width: 100%;
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 14px;
      font-size: 16px;
    }
    .login-btn {
      background: #014421;
      color: white;
      border: none;
      padding: 12px;
      border-radius: 14px;
      font-size: 16px;
      cursor: pointer;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 15px;
    }
    .login-btn:hover {
      background: #012f14;
    }
    .or-separator {
      text-align: center;
      margin: 15px 0;
      color: #777;
      position: relative;
    }
    .or-separator::before,
    .or-separator::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 40%;
      height: 1px;
      background: #ddd;
    }
    .or-separator::before {
      left: 0;
    }
    .or-separator::after {
      right: 0;
    }
    .gmail-btn {
      background: #014421;
      color: white;
      border: none;
      padding: 12px;
      border-radius: 14px;
      font-size: 16px;
      cursor: pointer;
      width: 100%;
    }
    .gmail-btn:hover {
      background: #012f14;
    }


    @media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
  }
  .left, .right {
    padding: 30px 20px;
  }
}
